
body{
    align-items: center;
    padding: 3rem;
}
h1, h3{
    text-align: center;
}
.button{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 3px;
    padding: 4rem 7rem;
    border:8px;
    font-size: 16px;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 5%;
    
}
